/* -------------------------------------
 * For horizontal version, set the
 * $vertical variable to false
 * ------------------------------------- */
/* -------------------------------------
 * General Style
 * ------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
body {
  padding: 0px;
  font-size: 100%;
  font-family: "Noto Sans", sans-serif;
  color: #1f3d7a;
  background: #f2f2f2;
}
#timeline-limit {
  max-width:750px;
  padding: 0 5%;
  margin:auto;
}
/* -------------------------------------
 * timeline
 * ------------------------------------- */
#timeline {
  list-style: none;

  margin: 30px 0 30px 100px;
  padding-left: 50px;
  border-left: 8px solid #1f3d7a;
}
#timeline li {
  margin: 40px 0;
  position: relative;
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -240px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -64px;
  width: 10px;
  height: 10px;
  background: #f2f2f2;
  border: 5px solid #1f3d7a;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  max-height: 0px;
  padding: 50px 20px 0;
  padding-top: 90px;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
  border-color: #1f3d7a
}
.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.content:after {
  border-right-color: #f2f2f2;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
.content p {
  max-height: 0px;
  color: transparent;
  text-align: justify;
  padding-left:0px;
  padding-bottom:5px;
  margin-top:0px;
  font-size:0px;
}
#title {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 20px;
  padding-left: 20px;
  float:left;
  transition: transform 0.2s linear;
}

#subtitle {
  font-size: 1.0em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 48px;
  padding-left: 20px;
  float:left;
  transition: transform 0.2s linear;
}

#logos {
  padding-left:60%;
  padding-top: 3%;
  padding-right:7%;
  /*display:block;*/
  max-width: 300px;
  float:right;
  z-index: 100;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.radio {
  display: none;
}

.radio:checked + .relative .circle {
  background: #1f3d7a;
}

.radio:checked + .relative #title {
  cursor: auto;
  transform: translateX(20px);
}

.radio:checked + .relative #subtitle {
  cursor: auto;
  transform: translateX(20px);
}

.radio:checked + .relative #logos {
  cursor: auto;
  transform: translateX(20px);
}

.radio:checked ~ .content {
  max-height: 200px;
  border-color: #1f3d7a;
  /*margin-right: 20px;*/
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .content p {
  max-height: 200px;
  color: #1f3d7a;
  font-size: 16px;
  transition: color 0.3s linear 0.3s;
}

/* Smaler screens... */
@media screen and (max-width: 767px) {
  #timeline {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
  #timeline li {
    margin: 30px 0;
  }

  .title {
    width: 85%;
    font-size: 1.1em;
    white-space: nowrap;
    display: block;
    /*transform: translateX(18px);*/
  }

  .subtitle {
    padding-bottom:5px;
  }

  .content {
    padding-top: 75px;
    border-color: #1f3d7a;
    padding-bottom:5px;

  }
  .content:before, .content:after {
    border: solid transparent;
    bottom: 100%;
  }

  .content p {
    font-size: 0.9em;
    line-height: 1.4;
    padding-left:0px;
    padding-top:30px;
  }

  #logos {
  padding-left:60%;
  padding-top: 25px;
  padding-right:7%;
  display:block;
  max-width: 100px;
  float:right;
  transition: transform 0.2s linear;
  }

  .radio:checked ~ .content {
  max-height: 275px;
  }
  .radio:checked ~ .content p {
    max-height: 275px;
  }

  .circle, .date{
    display: none;
  }
}

/* What year is it */
@media screen and (max-width: 460px) {
  #logos {
    display:none;
  }
  .radio:checked ~ .content {
    transition:none;
    transform:none;
  }
.radio:checked ~ .content p {
    display:none;
    transition:none;
    font-size:0px;
  }
  #title {
    transition:none;
    cursor: default;
  }
  #subtitle {
    transition:none;
    cursor: default;
  }
  .radio:checked + .relative #title {
    cursor: auto;
    transform: translateX(0px);
  }

  .radio:checked + .relative #subtitle {
    cursor: auto;
    transform: translateX(0px);
  }
}
