@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  	background-color: #ffffff;
  	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
}

h1 {
	font-size: 37px;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 17px;
}

h5 {
    margin-top: 1px;
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}

h6 {
    color: white;
    margin-bottom: 10px;
    font-size:12px;
}

.centered {
    text-align: center;
}

/*Links*/
a.social {
    color: #FFFFFF;
}
a {
    color: #34B6F7;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}



a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before, a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.navbar {
	text-transform: uppercase;
	padding-bottom: 5px;
    padding-top:15px;
}

.navbar-inverse {
	background-color: #2f2f2f;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-brand {
	font-size: 30px;
	letter-spacing: 2px;
    padding-bottom: 20px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 75px;
}

body {
    padding-top: 100px;
}

/* Wrap content */
#ww {
	padding-top: 25px;
	padding-bottom: 35px;
}

#footer {
	background-color: #2f2f2f;
	padding-top: 5px;
    text-align: center;
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}

/*scale face image*/
img {
    width:auto;
    max-width:100%;
    height:auto;
}

/* Social icons */       
#social {
    padding-top: 3px;
    font-size: 40px;
    letter-spacing: 5px;
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8); 
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}           

.social-li:hover {
    color: #0077B5;
}

.social-tw:hover {
    color: #4099FF;
}

.social-gh:hover {
    color: #000000;
}

.social-em:hover {
    color: #f39c12;
}

/* Resume button */
.btn-xlarge {
    padding: 18px 28px;
    font-size: 25px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.resbut {
    margin-bottom: 80px;
}