@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  	background-color: #ffffff;
  	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
}

h1 {
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

h5 {
    margin-top: 1px;
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}

h6 {
    color: white;
    margin-bottom: 10px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #34B6F7;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before, a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.navbar {
	text-transform: uppercase;
	padding-bottom: 5px;
    padding-top:15px;
}

.navbar-inverse {
	background-color: #2f2f2f;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #222222;
}

.navbar-brand {
	font-size: 23px;
	letter-spacing: 2px;
    padding-top:13px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

/* Wrap content */
#ww {
	padding-top: 70px;
	padding-bottom: 35px;
}

#footer {
	background-color: #2f2f2f;
	padding-top: 20px;
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}

/*scale face image*/
img {
    width:auto;
    max-width:100%;
    height:auto;
}
   
/* Social icons */                
#social {
    color: #ffffff;
    font-size: 30px;
    padding-top: 5px;
    letter-spacing: 3px;
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8); 
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}           

/* Resume button */
.btn-xlarge {
    padding: 18px 28px;
    font-size: 25px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.resbut {
    margin-bottom: 80px;
}